body {
    margin: 0px;
    text-align: center;
    font-family: 'Limelight', cursive;
    color: #E9CE2C;
    text-shadow: 0px 0px 10px black;
}

img {
    width: 200px;
    border: 2px solid black;
    border-radius: 25%;
}


#hero-section {
    background-image: url("images/daytime-wb-2.jpg");
    background-size: cover;
    padding: 150px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome {
    background: #102b3f;
    padding: 4px 8px;
    border-radius: 5px;
    margin: 2px 0px 4px 0px;
}

#advert {
    background: #102b3f;
    padding: 4px 8px;
    border-radius: 5px;
    margin: 2px 0px 4px 0px;
}


#activities-section {
    background: linear-gradient(/*#ccff33*/#E8BF2B, #f1981f );
    text-shadow: 0px 0px 5px black;    
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#activity-title {
    background: #102b3f;
    padding: 4px 8px;
    border-radius: 5px;
    margin: -20px 0px 20px 0px;
}

#guide {
    background: #102b3f;
    padding: 4px 8px;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;

}


.events {
    display: flex;
    justify-content: space-around;
}

.event-img {
    width: 200px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.event-img:hover {
    transform: scale(1.2);
}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: 10px auto;
    text-align: center;
    background-color: #102b3f;
    border-radius: 5%;
    border-bottom: 6px solid #E8BF2B;
    border-left: 6px solid #E8BF2B;
    text-shadow: .5px .5px 2px black;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

